HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
### 图片 ###
**/src/main/**/static/uploads/*.png
**/src/main/**/static/uploads/*.jpg
**/src/main/**/static/uploads/*.jpeg
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### 环境变量文件 ###
.env
.env.local
.env.*.local

### 启动脚本 ###
start.sh
start.bat
